In [10]:
import pandas as pd
import numpy as np
import json
import requests
import urllib3

In [59]:
url = "https://hn.algolia.com/api/v1/search_by_date?tags=comment&hitsPerPage=5000&numericFilters=created_at_i>2019"

In [60]:
req = requests.get(url)

In [61]:
data = req.json()

In [62]:
comments = data['hits']

In [77]:
with open('comm.json','w') as file2:
  json.dump(comments,file2)

In [63]:
len(comments)

1000

In [72]:
with open('data1.json', 'w') as outfile:
    json.dump(req, outfile)

TypeError: ignored

In [78]:
df= pd.read_json('comm.json')

In [79]:
df

                   created_at  ...                                   _highlightResult
0   2020-08-24 17:53:38+00:00  ...  {'author': {'value': 'jwilber', 'matchLevel': ...
1   2020-08-24 17:53:26+00:00  ...  {'author': {'value': 'jancsika', 'matchLevel':...
2   2020-08-24 17:53:09+00:00  ...  {'author': {'value': 'iso1631', 'matchLevel': ...
3   2020-08-24 17:53:09+00:00  ...  {'author': {'value': 'michaelbuckbee', 'matchL...
4   2020-08-24 17:53:00+00:00  ...  {'author': {'value': 'oxymoran', 'matchLevel':...
..                        ...  ...                                                ...
995 2020-08-24 16:24:10+00:00  ...  {'author': {'value': 'blablablerg', 'matchLeve...
996 2020-08-24 16:24:00+00:00  ...  {'author': {'value': 'djur', 'matchLevel': 'no...
997 2020-08-24 16:23:56+00:00  ...  {'author': {'value': 'shadowtree', 'matchLevel...
998 2020-08-24 16:23:54+00:00  ...  {'author': {'value': 'suyjuris', 'matchLevel':...
999 2020-08-24 16:23:42+00:00  ...  {'author': {'value': 'jzb', 'matchLevel': 'non...

[1000 rows x 16 columns]

In [80]:
df.shape

(1000, 16)

In [81]:
df.to_csv('comments1k.csv',index=False)